<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" style="margin-top: auto; margin-bottom: auto" [routerLink]="['/']">
        <img height="30px" style="padding-right: 10px" src="../../assets/images/icons/money.png"/>
        <strong>UiBank</strong>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }"
              *ngIf="this.authService.getLoggedInStatus()">
            <a class="nav-link text-dark" [routerLink]="['/accounts']">Accounts</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark"  style="color: black" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Products
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#" [routerLink]="['/loans']">Loans</a>
              <a class="dropdown-item" href="#" [routerLink]="['/credit-cards']">Credit Cards</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" [routerLink]="['/mobile-banking']">Mobile Banking</a>
            </div>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/help']">Help</a>
          </li>
          <li class="nav-item" *ngIf="this.authService.getLoggedInStatus()" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/userprofile']">Profile</a>
          </li>
          <li class="nav-item" *ngIf="this.authService.getLoggedInStatus()">
            <a class="nav-link text-dark" (click)="logoutUser()" [routerLink]="['/']">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
