<div class="jumbotron jumbotron-fluid shadow-sm photo-background">
  <div class="container">
    <div *ngIf="this.authService.getLoggedInStatus(); else notLoggedIn">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="text-white">
            <strong>
              Get started with a UiBank checking or savings account today!
            </strong>
          </h2>

          <h5 class="text-white">
            *Open an new account in the next 30 days and receive $50 on us!
          </h5>

          <div class="spacer"></div>

          <button type="submit" [routerLink]="['/account-apply']" class="btn btn-white btn-xl">Apply Now</button>
        </div>
      </div>
    </div>

    <ng-template #notLoggedIn>
      <div class="row">
        <div class="col-lg-4">
          <div class="card shadow-sm">

            <div class="card-body">

              <div class="sm-spacer"></div>
              <form class="form-box" #loginForm="ngForm" (ngSubmit)="loginUser(loginForm)">
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text"
                         class="form-control"
                         id="username"
                         [(ngModel)]="this.userLoginInfo.username"
                         name="username"
                         aria-describedby="username"
                         placeholder="Enter username">
                  <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password"
                         class="form-control"
                         id="password"
                         [(ngModel)]="this.userLoginInfo.password"
                         name="password"
                         placeholder="Enter password">
                </div>
                <!--<div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>-->


                <div *ngIf="this.failedLogin" style="color: red">
                  Invalid login credentials, please try again!
                </div>

                <div class="sm-spacer"></div>

                <button type="submit" class="btn btn-block btn-blue btn-xl">Sign In</button>

                <a [routerLink]="['/password-reset']">
                  <small id="emailHelp" class="form-text text-muted">Forgot Your Password?</small>
                </a>

                <a [routerLink]="['/register-account']">
                  <small id="emailHelp" class="form-text text-muted">Register For Account</small>
                </a>
              </form>

              <div class="sm-spacer"></div>
            </div>
          </div>
        </div>
        <div class="col-lg-8 text-center vertical-center">
          <h2 class="text-white">
            <strong>
              Get started with a UiBank checking or savings account today!
            </strong>
          </h2>

          <h5 class="text-white">
            *Open an account in the next 30 days and receive $50 on us!
          </h5>

          <div class="spacer"></div>

          <button type="submit" [routerLink]="['/register-account']" class="btn btn-white btn-xl"><strong>Get Started</strong></button>
        </div>
      </div>
    </ng-template>
  </div>
</div>

<div class="jumbotron jumbotron-fluid shadow-sm uibank-gradient">
  <div class="container">
    <div class="row">
      <!-- CHECKING AND SAVINGS ACCOUNT BOX -->
      <div class="col-lg-4 col-4 text-center">
        <div class="card shadow-sm">

          <div class="card-body">

            <div class="sm-spacer"></div>
            <img src="../../../assets/images/icons/money.png" />

            <div class="sm-spacer">
            </div>

            <h4>Checking and Savings Accounts</h4>

            <div class="sm-spacer"></div>

            <p class="text-blue">
              Open up an account with us today<br /> and take advantage of our special offer! <br /> Every new acount created with us in 2020 gets $100 credit!*
            </p>

            <div class="sm-spacer"></div>

            <button type="submit" [routerLink]="['/account-apply']" class="btn btn-blue-outline btn-xl">Apply For Account</button>


            <div class="sm-spacer"></div>
          </div>
        </div>
      </div>
      <!-- CREDIT CARD BOX -->
      <div class="col-lg-4 col-4 text-center vertical-center" >
        <div class="card shadow-sm" height="100%">

          <div class="card-body">

            <div class="sm-spacer"></div>
            <img src="../../../assets/images/icons/certification.png" />

            <div class="sm-spacer">
            </div>

            <h4>Credit and Debit<br /> Cards</h4>

            <div class="sm-spacer"></div>

            <p class="text-blue">
              We offer a variety of cards to meet you needs! <br/> Whether your focus is cash back, travel perks, or low fees, <br/> find the card that works for you!
            </p>

            <div class="sm-spacer"></div>

            <button type="submit" [routerLink]="['/credit-cards']" class="btn btn-blue-outline btn-xl">Learn More</button>

            <div class="sm-spacer"></div>
          </div>
        </div>
      </div>
      <!-- VIRTUAL COMPONENT GUIDE -->
      <div class="col-lg-4 col-4 text-center vertical-center">
        <div class="card shadow-sm">

          <div class="card-body">

            <div class="sm-spacer"></div>
            <img src="../../../assets/images/icons/low-cost.png" />

            <div class="sm-spacer">
            </div>

            <h4>Loans With Outstanding Rates</h4>

            <div class="sm-spacer"></div>

            <p class="text-blue">
                We offer the most competitive rates on the market!<br/> No hidden fees, no gimmicks, just a dedicated team with sgreat rates and service! <br/>
            </p>

            <div class="sm-spacer"></div>

            <button type="submit" [routerLink]="['/loans']" class="btn btn-blue-outline btn-blue-xl">Apply For Loan</button>


            <div class="sm-spacer"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
