

<div class="jumbotron jumbotron-fluid shadow-sm">
  <div class="container text-center">
    <img class="smaller" src="../assets/images/bank.png" />

    <div class="sm-spacer"></div>

    <h1 class="display-4">Welcome to UiBank!</h1>

    <div class="sm-spacer"></div>

    <p class="lead">Banking made easy.</p>

    <div class="sm-spacer"></div>

    <button type="button" class="btn btn-outline-success btn-lg" [routerLink]="['/login']">LOGIN</button>
    <button type="button" class="btn btn-outline-success margin-left btn-lg">REGISTER</button>

  </div>
</div>

<div class="card">
  <div class="card-body">
    This is some text within a card body.
  </div>
</div>
