<div class="card shadow-sm">
  <div class="card-header uibank-gradient text-white" style="float: left">
    <div>
      <a style="cursor: pointer" (click)="backButton()">
        <strong>
          <
        </strong>
      </a>
    </div>
  </div>
  <div class="card-body">
    <div class="spacer"></div>

    <h1 class="text-center">Apply For A New Account</h1>
    <p class="text-center">We need to gather some more details.</p>

    <div class="sm-spacer"></div>

    <form class="form-box form-box-smooshed" #accountApply="ngForm" (ngSubmit)="registerNewAccount(accountApply)">
      <div class="form-group">
        <label for="accountNickname">Give a Nickname to Your Account</label>
        <input type="text"
               class="form-control"
               id="accountNickname"
               ngModel
               name="accountNickname"
               aria-describedby="accountNickname"
               placeholder="Enter a nickname for your new account">
      </div>
      <div class="form-group">
        <label for="typeOfAccount">Type of Account</label>
        <select class="form-control" id="typeOfAccount"
                required
                type="text"
                ngModel name="typeOfAccount">
          <option type="text" *ngFor="let specificType of types" [value]="specificType">{{specificType}}</option>
        </select>
      </div>

      <div class="sm-spacer"></div>
      <button type="submit" class="btn btn-blue-outline btn-xl">Apply</button>

      <div class="sm-spacer"></div>
    </form>



    <div class="spacer"></div>
  </div>
</div>

<div class="spacer"></div>

