

<div class="card shadow-sm">

  <div class="card-body form-box-smooshed">
    <div class="spacer"></div>
    <div class="sm-spacer"></div>


    <div *ngIf="username; else notApproved" class="text-center">
      <div class="col-12 text-center">
        <div class="sm-spacer"></div>

        <img height="120px" src="../../../../assets/images/icons/customer-loyalty.png" />

        <div class="sm-spacer"></div>

        <h2>
          Welcome To The UiBank Family!
        </h2>

        <div class="sm-spacer"></div>

        <h5>
          Before you can apply for an account we need you to verify your email!
        </h5>

        <div class="sm-spacer"></div>

        <p class="text-blue">Check your inbox for a verification link.</p>
        <div class="sm-spacer"></div>

        <!--<div class="btn btn-xl btn-blue-outline" [routerLink]="['/account-apply']">
          Apply For An Account
        </div>-->

        <div class="spacer"></div>


        <div class="sm-spacer"></div>
      </div>
    </div>
    <ng-template #notApproved class="text-center">
      <h1 class="text-center text-orange">Sorry, at this time you are not able to create an account.</h1>


      <div class="spacer"></div>
    </ng-template>


    <div class="spacer"></div>
  </div>
</div>



<div class="spacer"></div>
