<div class="jumbotron jumbotron-fluid shadow-sm bg-white">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="sm-spacer"></div>

        <img height="120px" src="../../../../assets/images/icons/like.png" />

        <div class="sm-spacer"></div>

        <h2>
          Congrats!!!
        </h2>

        <div class="sm-spacer"></div>

        <p>
          You have successfully registered an account with UiBank!<br/>
          Your username is: {{username}}
        </p>

        <div class="spacer"></div>


        <div class="sm-spacer"></div>
      </div>
    </div>
  </div>
</div>

