<div class="row">
  <div class="col-8">
    <div class="card shadow-sm ">
      <div class="card-header uibank-gradient" style="float: left">
        <div class="sm-spacer"></div>

        <div class="text-white">
          <h3>Hello Rick!</h3>
          <p>Here is your account summary:</p>
        </div>


      </div>


      <div class="card-body">

        <div class="row bottom-buffer text-center" *ngFor="let account of currentAccounts; let index=index">



          <div class="sm-spacer"></div>
          <div class="text-center col-12">
            <div class="account-card"  style="overflow: hidden; margin-top: auto; margin-bottom: auto; " >
              <div class="containter">
                <div  style="float: left; margin-top: auto; margin-bottom: auto; " class="d-inline text-left">
                  <p class="text-left">
                    <a class="text-blue" [routerLink]="['/account-details', account.id]">
                      <strong>{{account.friendlyName}}</strong>
                    </a>
                   
                    <br />
                    <span class="text-gray">
                      ......{{trimID(account.id)}}
                    </span>
                  </p>


                </div>
                <div style="float: right; margin-top: auto; margin-bottom: auto; " class="d-inline text-right">
                  <p>

                    Account Balance:
                  <br/>
                  {{account.balance | currency:'USD':'symbol':'4.2-2'}}
                  </p>
                </div>
              </div>
            </div>
          </div>
         
          <!--<div class="col-6">
        <div class="card new-account-card text-center">

          <div class="card-body new-account-body">

            <div class="sm-spacer"></div>

            <a [routerLink]="['/account-apply']">
              <p>
                Add a new account
              </p>

              <div class="sm-spacer"></div>

              <img height="80px" src="../../../assets/images/icons/plus.png" />

            </a>
            <div class="sm-spacer"></div>

          </div>

        </div>

      </div>-->

        </div>
        <div class="sm-spacer"></div>


        <!--This is the card that leads to a new account-->
        <!--<div class="col-6">
      <div class="card new-account-card text-center">

        <div class="card-body new-account-body">

          <div class="sm-spacer"></div>

          <a  [routerLink]="['/account-apply']" >
            <p>
              Add a new account
            </p>

            <div class="sm-spacer"></div>

            <img height="80px" src="../../../assets/images/icons/plus.png" />

          </a>



          <div class="sm-spacer"></div>


        </div>

      </div>
    </div>-->
        <!--</div>-->

        <div class="sm-spacer"></div>

      </div>


    </div>
  </div>
  <div class="col-4">
    <div class="card bg-white shadow-sm text-center">
      <div class="card-header blue-bg" style="float: left">
        <div class="sm-spacer"></div>

        <div class="text-white text-center">
          <h3>How Can We Help?</h3>
        </div>

      </div>

      <div class="card-body bg-white">
        <div class="help-card card">
          <div class="card-header bg-white">
            <h5>
              Payment Center
            </h5>
          </div>
          <div class="card-body">
            <div class="btn-blue-outline">
              Make A Payment
            </div>

            <div class="sm-spacer"></div>

            <a [routerLink]="['/transfer-money']" class="btn-blue-outline">
              Transfer Funds
            </a>

            <div class="sm-spacer"></div>

          </div>
        </div>

        <div class="sm-spacer"></div>

        <div class="help-card card">
          <div class="card-header bg-white">
            <h5>
              Loan Center
            </h5>
          </div>
          <div class="card-body">
            <div class="btn-blue-outline">
              Apply For A Loan
            </div>

            <div class="sm-spacer"></div>

            <div class="btn-blue-outline">
              Loan Status
            </div>

          </div>
        </div>
      </div>


    </div>



  </div>
</div>

<div class="spacer"></div>
