<div class="row">
  <div class="col-8">
    <div class="card shadow-sm ">
      <div class="card-header uibank-gradient" style="float: left">
        <div class="sm-spacer"></div>

        <div style="overflow: hidden; margin-top: auto; margin-bottom: auto; ">
          <div class="containter">
            <div style="float: left; margin-top: auto; margin-bottom: auto; " class="d-inline text-left">
              <h3 class="text-white">
                Welcome!
              </h3>

              <p class="text-left text-white">
                Here is your account summary:
              </p>


            </div>
            <div style="float: right; margin-top: auto; margin-bottom: auto; " class="d-inline text-right">
              <div class="btn btn-white" [routerLink]="['/account-apply']">Apply For New Account</div>
            </div>
          </div>
        </div>


      </div>


      <div class="card-body">

        <div *ngIf="currentAccounts?.length === 0; else validAccounts">
          <div class="sm-spacer"></div>

          <p class="text-center">
            No accounts at this time, apply for a new account today!
          </p>


          <div class="sm-spacer"></div>
        </div>

        <ng-template #validAccounts id="validAccount" class="text-center">
          <div class="row bottom-buffer text-center" *ngFor="let account of currentAccounts; let index=index">



            <div class="sm-spacer"></div>
            <div class="text-center col-12">
              <div class="account-card" style="overflow: hidden; margin-top: auto; margin-bottom: auto; ">
                <div class="containter">
                  <div style="float: left; margin-top: auto; margin-bottom: auto; " class="d-inline text-left">
                    <p class="text-left">
                      <a class="text-blue" [routerLink]="['/account-details', account.id, account.balance, account.friendlyName]">
                        <strong>{{account.friendlyName}}</strong>
                      </a>

                      <br />
                      <span class="text-gray">
                        ......{{trimID(account.id)}}
                      </span>
                    </p>


                  </div>
                  <div style="float: right; margin-top: auto; margin-bottom: auto; " class="d-inline text-right">
                    <p>

                      Account Balance:
                      <br />
                      {{account.balance | currency:'USD':'symbol':'.2-2'}}
                    </p>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="sm-spacer"></div>

        </ng-template>


      </div>

    </div>
  </div>
  <div class="col-4">
    <div class="card bg-white shadow-sm text-center">
      <div class="card-header blue-bg" style="float: left">
        <div class="sm-spacer"></div>

        <div class="text-white text-center">
          <h3>How Can We Help?</h3>
        </div>

      </div>

      <div class="card-body bg-white">
        <div class="help-card card">
          <div class="card-header bg-white">
            <h5>
              Payment Center
            </h5>
          </div>
          <div class="card-body">
            <!--<div class="btn-blue-outline">
              Make A Payment
            </div>-->            <!--<div class="btn-blue-outline">
              Make A Payment
            </div>-->



            <a [routerLink]="['/transfer-money']" class="btn-blue-outline">
              Transfer Funds
            </a>

         

          </div>
        </div>

        <div class="sm-spacer"></div>

        <div class="help-card card">
          <div class="card-header bg-white">
            <h5>
              Loan Center
            </h5>
          </div>
          <div class="card-body">
            

              <a id="applyForLoan" class="btn-blue-outline" [routerLink]="['/loans']">
                Apply For A Loan
              </a>
     

            <div class="sm-spacer"></div>

   
              <a id="applyForLoan"  class="btn-blue-outline" [routerLink]="['/loans/lookup']">
                Loan Status
              </a>
   

          </div>
        </div>
      </div>


    </div>



  </div>
</div>

<div class="spacer"></div>
