/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700&display=swap');

html {
  font-family: Poppins, sans-serif !important;
}

@font-face {
  font-family: 'Poppins', 'sans-serif' !important;
}

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.blue-bg {
  background-color: #0067DF;
}

.corporate-gradient {
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
}

.fun-gradient {
  background-color: #b1ade2;
  background-image: linear-gradient(315deg, #b1ade2 0%, #48C3EB 74%);
}

.pastel-gradient {
  background-color: #eec0c6;
  background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
}

.gray-gradient {
  background-color: #e7eff9;
  background-image: linear-gradient(315deg, #e7eff9 0%, #cfd6e6 74%);
}


.uibank-gradient {
  background-color: #FA4616;
  background-image: linear-gradient(315deg, #FA4616 0%, #0067DF 74%);
}


.grey-bg {
  background-color: #f5f7fa;
}

html, body {
  height: 100%;
  background-color: #f5f7fa;
  /*background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);*/
}
body { margin: 0; font-family: Poppins, sans-serif; }

.home-page {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #abe9cd !important;
  background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%) !important;
}

.sm-spacer {
  padding-top: 20px;
}

.spacer {
  padding-top: 40px;
}


.btn-spacer {
  padding-right: 20px;
}

.btn-gradient {
  border-width: 3px;
  color: white;
  border-color: #3eadcf;
  border-radius: 10px;
  background-color: #abe9cd !important;
  background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%) !important;
}

.btn-gradient:hover {
  border-width: 3px;
  border-color: #3eadcf;
  border-radius: 10px;
  color: #3eadcf;
  background-color: white;
  background-image: none !important;
}


.btn-white {
  border-width: 3px;
  color: black;
  border-color: white;
  border-radius: 10px;
  background-color: white !important;
  padding: 10px 20px 10px 20px;
}

.btn-white:hover {
  border-width: 3px;
  border-color: #FA4616;
  border-radius: 10px;
  color: #0067DF;
  background-color: white;
  padding: 10px 20px 10px 20px;
  font-weight: 600;
}

.btn-blue {
  border-width: 3px;
  color: white;
  border-color: #0067DF;
  border-radius: 10px;
  background-color: #0067DF !important;
  padding: 10px 20px 10px 20px;
}

.btn-blue:hover {
  border-width: 3px;
  border-color: #FA4616;
  border-radius: 10px;
  color: white;
  background-color: #0067DF;
  padding: 10px 20px 10px 20px;
  font-weight: 600;
}

.btn-blue-outline {
  border-width: 3px;
  color: #0067DF;
  border-color: #0067DF;
  border-radius: 10px;
  background-color: white !important;
  padding: 10px 20px 10px 20px;
}

.btn-blue-outline:hover {
  border-width: 3px;
  border-color: #0067DF;
  border-radius: 10px;
  color: white;
  background-color: #0067DF;
  padding: 10px 20px 10px 20px;
  font-weight: 600;
}

.card {
  border: none !important;
  border-radius: 10px;
}

.card-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


.form-box-smooshed {
  margin-left: 20%;
  margin-right: 20%;
}

.text-white {
  color: white;
}

.text-grey {
  color: #BEBEBE;
}

.text-blue {
  color: #0067DF;
}


.vertical-center {
    margin-top: auto;
    margin-bottom: auto;
}
