<div class="card shadow-sm">
  <div class="card-header uibank-gradient text-white" style="float: left">
    <
  </div>
  <div class="card-body">
    <div class="spacer"></div>

    <h1 class="text-center">Login</h1>
    <p class="text-center">Hello! Log in with your email.</p>

    <div class="sm-spacer"></div>

    <form class="form-box form-box-smooshed" #loginForm="ngForm" (ngSubmit)="loginUser(loginForm)">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text"
               class="form-control"
               id="username"
               [(ngModel)]="this.userLoginInfo.username"
               name="username"
               aria-describedby="username"
               placeholder="Enter username">
        <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password"
               class="form-control"
               id="password"
               [(ngModel)]="this.userLoginInfo.password"
               name="password"
               placeholder="Enter password">
      </div>

      <div *ngIf="this.failedLogin" style="color: red">
        {{httpError.error.error.message}}
      </div>

      <div class="sm-spacer"></div>

      <button type="submit" class="btn btn-blue-outline btn-xl">Sign In</button>

    </form>

    <div class="spacer"></div>
  </div>
</div>



<div class="spacer"></div>
