<div class="card shadow-sm">
  <div class="card-header" style="float: left">
    <a style="cursor: pointer" (click)="backButton()">
      <strong>
        <
      </strong>
    </a>
  </div>

<div *ngIf="isValid; else notApproved" class="text-center">

    <div class="card-body form-box-smooshed">

      <div class="spacer"></div>
      <div class="sm-spacer"></div>

      <h1 class="text-center">Your Loan Details: </h1>

      <div class="spacer"></div>

      <h5>Loan ID: {{quoteID}} </h5>
      <h5>Term: {{term}} </h5>
      <h5>Loan Amount: ${{amount}} </h5>
      <h5>Loan Rate: {{rate}}% </h5>
      <h5>Applicant Age: {{age}} </h5>
      <h5>Applicant Yearly Income: {{income}} </h5>

      <div class="spacer"></div>

    </div>
 

</div>
<ng-template #notApproved class="text-center">
  <div class="card-body form-box-smooshed">

    <div class="spacer"></div>
    <div class="sm-spacer"></div>

    <h1 class="text-center">Sorry! We weren't able to locate a matching loan ID.
    </h1>

    <h4 class="text-center">
      Double check your loan ID and try again!
    </h4>

    <div class="sm-spacer"></div>
    <div class="spacer"></div>

  </div>
  
</ng-template>


  <div class="spacer"></div>
</div>




<div class="spacer"></div>
