<footer>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-6 text-center vertical-center">
          <h4>
            <img src="../../../assets/images/icons/money.png" />
            <br/>
            <strong>
              UiBank
            </strong>
          </h4>
        </div>
        <div class="col-lg-6 col-6 text-center vertical-center">
            <ul style="list-style-type:none">
              <li>
                Account Services
              </li>
              <li>
                Card Services
              </li>
              <li>
                Need a Loan?
              </li>
              <li>
                Contact Us
              </li>
            </ul>
        </div>
        <div class="col-lg-4 text-center vertical-center">

        </div>
      </div>
    </div>
  </div>
</footer>
