<div class="card shadow-sm ">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">

        <div class="spacer"></div>
        <div class="spacer"></div>

        <img height="140px" src="../../../assets/images/icons/master-card.png" />

        <div class="spacer"></div>

        <h2>
          Options. Options. Options.
        </h2>

        <div class="sm-spacer"></div>


        <h4>
          Travel? Cash Back? Rewards? We have you covered!
        </h4>

        <div class="sm-spacer"></div>
        <div class="spacer"></div>
      </div>
    </div>
  </div>
</div>

<div class="sm-spacer"></div>

<div class="card shadow-sm ">
  <div class="container">
    <div class="row ">
      <div class="col-3 text-center">

        <div class="spacer"></div>
        <div class="spacer"></div>

        <img height="140px" src="../../../assets/images/icons/airplane.png" />

        <div class="spacer"></div>


        <div class="sm-spacer"></div>
        <div class="spacer"></div>
      </div>
      <div class="col-6 text-center vertical-center">

        <div class="spacer"></div>
        <div class="spacer"></div>

        <h3> UiBank Travel Rewards Card</h3>

        <h5 class="text-blue">
          3x miles on any dining, clothing, or entertainment purchase
        </h5>

        <div class="sm-spacer"></div>
        <div class="spacer"></div>
      </div>
      <div class="col-3 text-center vertical-center">

        <div class="spacer"></div>
        <div class="spacer"></div>

        <div class="btn btn-blue">
          Apply Now
        </div>

        <div class="spacer"></div>


        <div class="sm-spacer"></div>
        <div class="spacer"></div>
      </div>
    </div>
  </div>
</div>

<div class="spacer"></div>


<div class="card shadow-sm ">
  <div class="container">
    <div class="row ">
      <div class="col-3 text-center">

        <div class="spacer"></div>
        <div class="spacer"></div>

        <img height="140px" src="../../../assets/images/icons/cash-back.png" />

        <div class="spacer"></div>


        <div class="sm-spacer"></div>
        <div class="spacer"></div>
      </div>
      <div class="col-6 text-center vertical-center">

        <div class="spacer"></div>
        <div class="spacer"></div>

        <h3> UiBank Cash Back Rewards Card</h3>

        <h5 class="text-blue">
          1.5% back on all purchases, plain and simple
        </h5>

        <div class="sm-spacer"></div>
        <div class="spacer"></div>
      </div>
      <div class="col-3 text-center vertical-center">

        <div class="spacer"></div>
        <div class="spacer"></div>

        <div class="btn btn-blue">
          Apply Now
        </div>

        <div class="spacer"></div>


        <div class="sm-spacer"></div>
        <div class="spacer"></div>
      </div>
    </div>
  </div>
</div>

<div class="spacer">
</div>

<div class="card shadow-sm ">
  <div class="container">
    <div class="row ">
      <div class="col-3 text-center">

        <div class="spacer"></div>
        <div class="spacer"></div>

        <img height="140px" src="../../../assets/images/icons/gift.png" />

        <div class="spacer"></div>


        <div class="sm-spacer"></div>
        <div class="spacer"></div>
      </div>
      <div class="col-6 text-center vertical-center">

        <div class="spacer"></div>
        <div class="spacer"></div>

        <h3> UiBank Treat Yo Self Rewards Card</h3>

        <h5 class="text-blue">
          Ride shares and entertainment purchases get you 3 points per dollar spent
        </h5>

        <div class="sm-spacer"></div>
        <div class="spacer"></div>
      </div>
      <div class="col-3 text-center vertical-center">

        <div class="spacer"></div>
        <div class="spacer"></div>

        <div class="btn btn-blue">
          Apply Now
        </div>

        <div class="spacer"></div>


        <div class="sm-spacer"></div>
        <div class="spacer"></div>
      </div>
    </div>
  </div>
</div>


<div class="spacer"></div>
