<div class="card shadow-sm">
  <div class="card-header uibank-gradient text-white" style="float: left">
    <div>
      <a style="cursor: pointer" (click)="backButton()">
        <strong>
          <
        </strong>
      </a>
    </div>
  </div>
  <div class="card-body">
    <div class="spacer"></div>

    <h1 class="text-center">Register</h1>
    <p class="text-center">We'll need some information to get you started with an account! First let's get some basic information.</p>

    <div class="sm-spacer"></div>

    <form class="form-box form-box-smooshed">
      <div class="form-group">
        <label for="exampleInputEmail1">First Name</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter first name">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Last Name</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter last name">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Date of Birth</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter date of birth (MM/DD/YY)">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>


      <div class="sm-spacer"></div>

      <button type="submit" class="btn btn-primary" >Next</button>
    </form>

    <div class="spacer"></div>
  </div>
</div>
