<div class="card shadow-sm">
  <div class="card-header uibank-gradient text-white" style="float: left">
    <div>
      <a style="cursor: pointer" (click)="backButton()">
        <strong>
          <
        </strong>
      </a>
    </div>
  </div>
  <div class="card-body">
    <div class="spacer"></div>

    <h1 class="text-center">Register</h1>
    <p class="text-center">We'll need some information to get you started with an account! First let's get some basic information.</p>

    <div class="sm-spacer"></div>

    <form class="form-box form-box-smooshed" #registerForm="ngForm" (ngSubmit)="registerUser(registerForm)">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text"
               class="form-control"
               id="firstName"
               aria-describedby="firstName"
               [(ngModel)]="this.newUser.firstName"
               name="firstName"
               placeholder="Enter first name">
      </div>
      <div class="form-group">
        <label for="title">Title</label>
        <select class="form-control" id="title"
                required
                type="text"
                ngModel name="title">
          <option type="text" *ngFor="let title of titles" [value]="title">{{title | titlecase}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="middleName">Middle Name Or Initial</label>
        <input type="text"
               class="form-control"
               id="middleName"
               aria-describedby="this.newUser.middleName"
               [(ngModel)]="this.newUser.middleName"
               name="middleName"
               placeholder="Enter first name">
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text"
               class="form-control"
               id="lastName"
               aria-describedby="lastName"
               [(ngModel)]="this.newUser.lastName"
               name="lastName"
               placeholder="Enter last name">
      </div>
      <div class="form-group">
        <label for="number">Sex</label>
        <select class="form-control" id="sex"
                required
                type="text"
                ngModel name="gender">
          <option type="text" *ngFor="let gender of sexTypes" [value]="gender">{{gender | titlecase}}</option>
        </select>
      </div>
      <!--<div class="form-group">
    <label for="dateOfBirth">Date of Birth</label>
    <input type="text"
           class="form-control"
           id="dateOfBirth"
           aria-describedby="dateOfBirth"
           [(ngModel)]="dateOfBirth"
           name="dateOfBirth"
           placeholder="Enter date of birth (MM/DD/YY)">
  </div>-->
      <div class="form-group">
        <label for="number">Employment Status</label>
        <select class="form-control" id="employmentStatus"
                required
                type="text"
                ngModel name="employmentStatus">
          <option type="number" *ngFor="let status of employmentStatuses" [value]="status">{{status}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="age">Age <span class="text-gray">(MM/DD/YY)</span></label>
        <input type="text"
               class="form-control"
               id="age"
               [(ngModel)]="this.newUser.age"
               name="age"
               aria-describedby="age"
               placeholder="Enter age in format (MM/DD/YY)">
      </div>
      <div class="form-group">
        <label for="number">Marital Status</label>
        <select class="form-control" id="maritalStatus"
                required
                type="text"
                ngModel name="maritalStatus">
          <option type="text" *ngFor="let marital of maritalStatuses" [value]="marital">{{marital}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="numberDependents">Number of Dependents</label>
        <input type="number"
               class="form-control"
               id="numberOfDependents"
               aria-describedby="numberOfDependents"
               [(ngModel)]="this.newUser.numDependents"
               name="numberOfDependents"
               placeholder="How many dependents do you claim?">
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text"
               class="form-control"
               id="username"
               aria-describedby="username"
               [(ngModel)]="this.newUser.username"
               name="username"
               placeholder="Please type in your new username">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email"
               class="form-control"
               id="email"
               aria-describedby="email"
               [(ngModel)]="this.newUser.email"
               name="email"
               placeholder="Enter email">
        <small id="email" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password"
               class="form-control"
               id="password"
               [(ngModel)]="this.newUser.password"
               name="password"
               placeholder="Password">
      </div>


      <div class="sm-spacer"></div>

      <button type="submit" class="btn btn-blue-outline btn-xl">Register</button>
    </form> 

    <div class="spacer"></div>
  </div>
</div>

<div class="spacer"></div>
