<div class="card shadow-sm ">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">

        <div class="spacer"></div>
        <div class="spacer"></div>

        <img height="140px" src="../../../assets/images/icons/mobile-banking.png" />

        <div class="spacer"></div>

        <h2 >
          Control At Your Fingertips
        </h2>

        <div class="sm-spacer"></div>

        <p>
          With UiBank, you can access our mobile app to transfer money, <br/>make payments, schedule notifications, and so much more!
        </p>

        <div class="sm-spacer"></div>
        <div class="spacer"></div>
      </div>
    </div>
  </div>
</div>

<div class="spacer"></div>
