<div class="card shadow-sm">
  <div class="card-header uibank-gradient">
    <a style="cursor: pointer" class="text-white" (click)="backButton()">
      <strong>
        <
      </strong>
    </a>
    <div class="sm-spacer"></div>
    <h3 class="text-white">
      Transfer Money
    </h3>
    <div class="sm-spacer"></div>

  </div>


  <div class="card-body">

    <div class="spacer"></div>

    <form class="form-box form-box-smooshed" #setTransferForm="ngForm" (ngSubmit)="setTransferFormFields(setTransferForm)">
      <div class="form-group">
        <label for="fromAccount">From</label>
        <select class="form-control" id="fromAccount"
                required
                [(ngModel)]="fromAccount" name="fromAccount">
          <option type="text" *ngFor="let account of currentAccounts" [ngValue]="account">{{account.friendlyName}}: {{account.id}} - {{account.balance | currency:'USD':'symbol':'4.2-2'}}</option>
        </select>
      </div>

      <div class="sm-spacer"></div>

      <div class="form-group">
        <label for="toAccount">To</label>
        <select class="form-control" id="toAccount"
                required
                [(ngModel)]="toAccount" name="toAccount">
          <option type="text" *ngFor="let account of currentAccounts" [ngValue]="account">{{account.friendlyName}}: {{account.id}} - {{account.balance | currency:'USD':'symbol':'4.2-2'}}</option>
        </select>
      </div>

      <div class="sm-spacer"></div>

      <div class="form-group">
        <label for="amount">Amount</label>
        <input type="number"
               class="form-control"
               ngModel
               name="amount"
               id="amountTransferred"
               [(ngModel)]="amountTransferred"
               placeholder="How much would you like to transfer?">
      </div>
      <div class="sm-spacer"></div>

      <button type="button" class="btn btn-blue" (click)="setFields()" data-toggle="modal" data-target="#exampleModal">Review</button>
    </form>

    <div class="spacer"></div>
  </div>
</div>

<div class="sm-spacer"></div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmTransferModal">Review Your Transfer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <div class="sm-spacer"></div>

        <p class="text-blue">
          <strong>
            From {{fromAccount.friendlyName}} - {{fromAccount.id}} <br />
          </strong>
            <span class="text-gray" id="transferFromAccount">
              Current Balance: {{fromAccount.balance | currency:'USD':'symbol':'.2-2'}}
            </span>
         
        </p>

        <div class="sm-spacer"></div>


        <p class="text-blue">
          <strong>
            To {{toAccount.friendlyName}} - {{toAccount.id}} <br />
          </strong>
            <span class="text-gray" id="transferToAccount">
              Current Balance: {{toAccount.balance | currency:'USD':'symbol':'.2-2'}}
            </span>

      
        </p>

        <div class="sm-spacer"></div>


        <p class="text-blue">
          <strong>
            Total amount to transfer: <br />
              <span id="transferAmount" style="color: black">
                {{amountTransferred | currency:'USD':'symbol':'.2-2'}}
              </span>

          </strong>
        </p>

        <div class="sm-spacer"></div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button (click)="submitTransfer()" data-dismiss="modal"  type="button" class="btn btn-primary">Confirm Transfer</button>
      </div>
    </div>
  </div>
</div>
