<div class="card shadow-sm">
  <div class="card-header uibank-gradient">
    <div class="sm-spacer"></div>
    <h3 class="text-white">
      Transfer Money
    </h3>
    <div class="sm-spacer"></div>

  </div>
  <div class="card-body">

    <div class="spacer"></div>

    <form class="form-box form-box-smooshed" #setTransferForm="ngForm" (ngSubmit)="setTransferFormFields(setTransferForm)">
      <div class="form-group">
        <label for="fromAccount">From</label>
        <select class="form-control" id="fromAccount"
                required
                type="text"
                ngModel name="fromAccount">
          <option type="text" *ngFor="let fromAccount of currentAccounts" [value]="fromAccount">{{fromAccount.friendlyName}}: {{fromAccount.id}}</option>
        </select>
      </div>

      <div class="sm-spacer"></div>

      <div class="form-group">
        <label for="toAccount">To</label>
        <select class="form-control" id="toAccount"
                required
                type="text"
                ngModel name="toAccount">
          <option type="text" *ngFor="let toAccount of currentAccounts" [value]="toAccount">{{toAccount.friendlyName}}: {{toAccount.id}}</option>
        </select>
      </div>

      <div class="sm-spacer"></div>

      <div class="form-group">
        <label for="amount">Amount</label>
        <input type="number"
               class="form-control"
               ngModel
               name="amount"
               [(ngModel)]="this.amountTransferred"
               placeholder="How much would you like to transfer?">
      </div>
      <div class="sm-spacer"></div>

      <button type="button" class="btn btn-blue" (click)="setFields()" data-toggle="modal" data-target="#exampleModal">Review</button>
    </form>

    <div class="spacer"></div>
  </div>
</div>

<div class="sm-spacer"></div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
