<!--<button (click)="generatePdf()">Open PDF</button>-->

<div class="row">
  <div class="col-12">
    <div class="card shadow-sm ">
      <div class="card-header uibank-gradient" style="float: left">
        <div class="sm-spacer"></div>

        <div class="text-white">
          <h3>Hello Rick!</h3>
          <p>Transaction History:</p>
        </div>

        <hr style="background-color: white"/>

        <div class="row row-border">
          <div class="col-4 btn text-white text-center">
            <div class="btn text-white" (click)="transferMoney()">
              Transfer Money
            </div>
          </div>
          <div class="col-4 btn text-white vertical-center text-center">
            <div>
              <a style="color: white" download="filename" target="_blank" href="/assets/documents/AnimalBoardingInvoice.pdf">
                Download Statement
              </a>
            </div>

          </div>
          <div class="col-4 btn text-white text-center">
            <div class="btn text-white" (click)="downloadCSV()">
              Download Transactions
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th scope="col">Transaction Amount</th>
              <th scope="col">Description</th>
              <th scope="col">Other</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let transaction of transactions">
              <td>
                {{transaction.amount}}
              </td>
              <td>
                {{transaction.description}}
              </td>
              <td>
                {{transaction.accountId}}
              </td>
            </tr>
          </tbody>
        </table>

      </div>

      <div class="sm-spacer"></div>

    </div>

  </div>
 
</div>


<div class="spacer"></div>
