<div class="card shadow-sm">
  <div class="card-header uibank-gradient" style="float: left">
    <a style="cursor: pointer" (click)="backButton()">
      <strong class="text-white">
        <
      </strong>
    </a>
  </div>
  <div class="card-body form-box-smooshed">
    <div class="spacer"></div>

    <h1 class="text-center">Choose New Password</h1>
    <p class="text-center">Thank you for resetting your password! Enter in your new password below!</p>

    <div class="sm-spacer"></div>

    <form class="form-box" #passwordResetForm="ngForm" (ngSubmit)="resetPassword(passwordResetForm)">
      <div class="form-group">
        <small style="color: red">{{matching}}</small><br/>
        <label for="loanAmount">New Password</label>
        <input type="text"
               class="form-control"
               id="newPassword"
               ngModel
               name="newPassword"
               aria-describedby="newPassword"
               placeholder="Enter New Password">
      </div>
      <div class="form-group">
        <label for="loanAmount">Confirm New Password</label>
        <input type="text"
               class="form-control"
               id="confirmNewPassword"
               ngModel
               name="confirmNewPassword"
               aria-describedby="confirmNewPassword"
               placeholder="Confirm New Password">
      </div>

      <div class="sm-spacer"></div>

      <button type="submit" class="btn btn-blue-outline btn-xl">Reset Password</button>
    </form>

    <div class="spacer"></div>
  </div>
</div>



<div class="spacer"></div>
