<div class="card shadow-sm">
  <div class="card-header" style="float: left">
    <a style="cursor: pointer" (click)="backButton()">
      <strong>
        <
      </strong>
    </a>
  </div>
  <div class="card-body form-box-smooshed">
    <div class="spacer"></div>

    <h1 class="text-center">Password Reset</h1>
    <p class="text-center">Enter in your new password below!</p>

    <div class="sm-spacer"></div>

    <form class="form-box" #passwordResetForm="ngForm" (ngSubmit)="resetPassword(passwordResetForm)">
      <div class="form-group">
        <label for="loanEmail">New Password</label>
        <input type="text"
               class="form-control"
               id="newPassword"
               ngModel
               name="newPassword"
               aria-describedby="newPassword"
               placeholder="New Password">
      </div>
      <div class="form-group">
        <label for="loanAmount">Confirm New Password</label>
        <input type="text"
               class="form-control"
               id="confirmPassword"
               ngModel
               name="confirmPassword"
               aria-describedby="confirmPassword"
               placeholder="Confirm New Password">
      </div>

      <div class="sm-spacer"></div>

      <button type="submit" class="btn btn-blue-outline btn-xl">Reset Password</button>
    </form>

    <div class="spacer"></div>
  </div>
</div>



<div class="spacer"></div>
