<div class="jumbotron jumbotron-fluid shadow-sm bg-white">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="sm-spacer"></div>

        <img height="120px" src="../../../../assets/images/icons/loan.png" />

        <div class="sm-spacer"></div>

        <h2>
          Financing for what ever life throws at you!
        </h2>

        <p>
          Use our loan calculator to see if you qualify for a loan with UiBank
        </p>

        <div class="spacer"></div>

        <div class="btn-group mr-2" role="group" aria-label="first group">
          <button type="submit" [routerLink]="['/loans/apply']" class="btn  btn-blue btn-xl">Apply For A Loan</button>
        </div>

        <div class="btn-group" role="group" aria-label="second group">
          <button type="submit" [routerLink]="['/loans/lookup']" class="btn  btn-blue btn-xl">Already Have A Loan?</button>
        </div>
 

        <div class="sm-spacer"></div>
      </div>
    </div>
  </div>
</div>

