<div class="card shadow-sm">
  <div class="card-header" style="float: left">
    <a style="cursor: pointer" (click)="backButton()">
      <strong>
        <
      </strong>
    </a>
  </div>
  <div class="card-body form-box-smooshed">
    <div class="spacer"></div>
    <div class="sm-spacer"></div>

    <div class="text-center">
      <img class="text-center" height="120px" src="../../assets/images/icons/screwdriver.png" />
    </div>

    <div class="sm-spacer"></div>

    <h1 class="text-center">Sorry, Under Maintenance!</h1>

    <div class="spacer"></div>
    <div class="spacer"></div>
  </div>
</div>



<div class="spacer"></div>
