<div class="card shadow-sm">
  <div class="card-header" style="float: left">
    <a style="cursor: pointer" (click)="backButton()">
      <strong>
        <
      </strong>
    </a>
  </div>
  <div class="card-body form-box-smooshed">
    <div class="spacer"></div>
    <div class="sm-spacer"></div>

    <h1 class="text-center">Loan Lookup</h1>
    <p class="text-center">Already have a loan? Enter in your loan ID, to retrieve the details!</p>

    <div class="sm-spacer"></div>

    <form class="form-box" #loanForm="ngForm" (ngSubmit)="getLoanInfo(loanForm)">
      <div class="form-group">
        <label for="loanAmount">Enter Your Loan ID:</label>
        <input type="text"
               class="form-control"
               id="quoteID"
               ngModel
               name="quoteID"
               aria-describedby="quoteID"
               placeholder="Enter loan ID here">
      </div>

      <div class="sm-spacer"></div>
      <button type="submit" class="btn btn-blue">Retrieve Loan Details</button>

      <div class="sm-spacer"></div>
    </form>

    <div class="spacer"></div>
  </div>
</div>



<div class="spacer"></div>
