<div class="card shadow-sm">
  <div class="card-header">
    <h3>
      Profile Details:

    </h3>
    <div style="display: block; float: right" class="btn btn-blue">
      Edit Profile Details
    </div>
  </div>
  <div class="card-body">

    <p>
      <strong>
        Name:
      </strong>
      {{this.currentUser.firstName}}
      <br />
      Age: {{this.currentUser.age}}
      <br />
      Sex: {{this.currentUser.gender}}
      <br />
      Email Address: {{this.currentUser.email}}
      <br />
      Marital Status: {{this.currentUser.maritalStatus}}
      <br />
      Dependents: {{this.currentUser.numberOfDependents}}
      <br />
      Email Address: {{this.currentUser.email}}
      <br />
      Email Address: {{this.currentUser.email}}
      <br />
      Email Address: {{this.currentUser.email}}
      <br />
      Email Address: {{this.currentUser.email}}

    </p>
  </div>
</div>

<div class="sm-spacer"></div>
